.card{
  background-color: var(--clr-neutral-100);
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 15px 30px -10px rgba(131, 166, 210, 0.5);
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1.5rem;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
  }

  &--cyan::before { background-color: var(--clr-primary-cyan); }
  &--red::before { background-color: var(--clr-primary-red); }
  &--orange::before { background-color: var(--clr-primary-orange); }
  &--blue::before { background-color: var(--clr-primary-blue); }

  &__title{
    font-size: var(--fs-card-title);
    color: var(--clr-netral-500);
    margin-bottom: 0.5rem;
  }

  &__text{
    font-size: 0.8125rem; 
    color: var(--clr-neutral-400);
    line-height: 1.8
  }

  &__icon {
    align-self: flex-end; 
    width: 57px;
    height: 57px;
  }
}