.card {
  background-color: var(--clr-neutral-100);
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 15px 30px -10px rgba(131, 166, 210, 0.5);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px -10px rgba(131, 166, 210, 0.6);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
  }

  // Modifiers
  &--cyan::before {
    background-color: var(--clr-primary-cyan);
  }
  &--red::before {
    background-color: var(--clr-primary-red);
  }
  &--orange::before {
    background-color: var(--clr-primary-orange);
  }
  &--blue::before {
    background-color: var(--clr-primary-blue);
  }

  @media (min-width: 1024px) {
    margin-bottom: 0;

    &--cyan {
      grid-column: 1;
      grid-row: 1 / 3;
    }
    &--red {
      grid-column: 2;
      grid-row: 1;
    }
    &--orange {
      grid-column: 2;
      grid-row: 2;
    }
    &--blue {
      grid-column: 3;
      grid-row: 1 / 3;
    }
  }

  @media(prefers-reduced-motion: reduce){
    transition: none;
    &:hover{
      transform: none;
    }
  }

  &__title {
    font-size: var(--fs-card-title);
    color: var(--clr-neutral-500);
    margin-bottom: 0.5rem;
  }

  &__text {
    font-size: 0.8125rem;
    color: var(--clr-neutral-400);
    line-height: 1.8;
  }

  &__icon {
    align-self: flex-end;
    width: 57px;
    height: 57px;
  }
}
