// src/scss/_layout.scss
.feature-section {
  padding-block: 5rem;
  padding-inline: 2rem;
  max-width: 1110px;
  margin-inline: auto;
  text-align: center;

  &__header {
    margin-bottom: 4.75rem;
    max-width: 540px;
    margin-inline: auto;
  }

  &__title {
    font-size: var(--fs-h1);
    font-weight: 600;
    color: var(--clr-neutral-500);

    &--light {
      display: block;
      font-weight: 200;
      margin-bottom: 0.5rem;
    }
  }

  &__description {
    margin-top: 1rem;
    color: var(--clr-neutral-400);
    font-size: var(--fs-body);
  }

  &__grid {
    display: grid;
    gap: 1.875rem;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      align-items: center;
    }
  }
}

.attribution {
  padding-block: 2rem;
  margin-block-start: 1.5rem; 
  font-size: 0.875rem; 
  text-align: center;
  color: var(--clr-neutral-500);

  a {
    color: var(--clr-primary-blue);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s ease;

    &:hover,
    &:focus {
      color: var(--clr-primary-red);
      text-decoration: underline;
      outline: 2px dashed var(--clr-primary-blue);
      outline-offset: 4px;
    }
  }
}