:root {
  --clr-primary-red: hsl(0, 78%, 62%);
  --clr-primary-cyan: hsl(180, 62%, 55%);
  --clr-primary-orange: hsl(34, 97%, 64%);
  --clr-primary-blue: hsl(212, 86%, 64%);

  --clr-neutral-500: hsl(234, 12%, 34%);
  --clr-neutral-400: hsl(212, 6%, 44%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-primary: 'Poppins', sans-serif;
}